.pad-x-1 > :not([hidden]) ~ :not([hidden]) {
    padding-left: 0.25rem;
}
.pad-x-2 > :not([hidden]) ~ :not([hidden]) {
    padding-left: 0.5rem;
}
.pad-x-3 > :not([hidden]) ~ :not([hidden]) {
    padding-left: 0.75rem;
}
.pad-x-4 > :not([hidden]) ~ :not([hidden]) {
    padding-left: 1rem;
}
.pad-x-5 > :not([hidden]) ~ :not([hidden]) {
    padding-left: 1.25rem;
}
.pad-x-6 > :not([hidden]) ~ :not([hidden]) {
    padding-left: 1.5rem;
}