---
- name: Update apt
  become: yes
  become_user: root
  apt: update_cache=yes

- name: Install System Packages
  become: yes
  become_user: root
  apt: pkg={{ item }} state=latest
  with_items:
    - curl
    - wget
    - python-software-properties

- name: Install Extra Packages
  become: yes
  become_user: root
  apt: pkg={{ item }} state=latest
  with_items: '{{ server.packages }}'
  when: server.packages is defined

- name: Configure the timezone
  become: yes
  become_user: root
  template: src=timezone.tpl dest=/etc/timezone

- name: More Configure the timezone
  become: yes
  become_user: root
  file: src=/usr/share/zoneinfo/{{server.timezone}} dest=/etc/localtime state=link force=yes backup=yes

- name: Set default system language pack
  shell: locale-gen {{server.locale}}
  become: yes
  become_user: root

- name: Download Node 8 setup
  shell: curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -

- name: Install Node 8 & NPM 5
  become: yes
  become_user: root
  apt:
    name: nodejs
    state: present