/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env


# translation file
resources/lang/*/uuid.php

storage/app/downloads/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# OS
.DS_Store
.sass-cache

# Local
ubuntu-xenial-16.04-cloudimg-console.log
_ide_helper_models.php
.phpstorm.meta.php
_ide_helper.php
.php_cs.cache