@import "admin/views/cooperation/pdf/variables";
@import "admin/views/cooperation/pdf/utilities";
@import "admin/views/cooperation/pdf/markup";

@import "admin/views/cooperation/pdf/user-report/index";