.container {
  max-width: 960px;
  padding: 5rem 80px;
}
.container .group {
  padding: 0.5rem 0;
}
.container .row {
  display: block;
  width: 100%;
}
.container .row .col-1 {
  display: inline-block;
  width: 8%;
}
.container .row .col-2 {
  display: inline-block;
  width: 16%;
}
.container .row .col-3 {
  display: inline-block;
  width: 25%;
}
.container .row .col-4 {
  display: inline-block;
  width: 33%;
}
.container .row .col-5 {
  display: inline-block;
  width: 41%;
}
.container .row .col-6 {
  display: inline-block;
  width: 50%;
}
.container .row .col-7 {
  display: inline-block;
  width: 58%;
}
.container .row .col-8 {
  display: inline-block;
  width: 66%;
}
.container .row .col-9 {
  display: inline-block;
  width: 75%;
}
.container .row .col-10 {
  display: inline-block;
  width: 83%;
}
.container .row .col-11 {
  display: inline-block;
  width: 91%;
}
.container .row .col-12 {
  display: inline-block;
  width: 100%;
}
.container table {
  page-break-inside: auto;
  width: 100%;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

* {
  margin: 0;
  font-family: Helvetice, sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  color: #1C956E;
  line-height: 1.15;
  margin-bottom: 5rem;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #1C956E;
  line-height: 1.15;
  margin-bottom: 0.25rem;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #1C956E;
  line-height: 1.15;
  margin-bottom: 0.25rem;
}

h4 {
  font-size: 11px;
  font-weight: bold;
  color: #1C956E;
  line-height: 1.15;
}

p {
  color: #000000;
  font-size: 11px;
  line-height: 1.15;
}

.comment {
  word-wrap: break-word !important;
  white-space: pre-line;
}

.step-intro {
  margin-bottom: 25px;
}
.step-intro h2 {
  display: block;
  margin: 8px 0 0 0;
}
.step-intro img {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
}
.step-intro p {
  padding-top: 25px;
  font-weight: bold;
}

ol li {
  font-weight: bold;
  color: #000000;
  font-size: 11px;
}

p {
  color: #000000;
  font-size: 11px;
  line-height: 1.15;
}
p.sub-lead {
  font-weight: bold;
  color: #1C956E;
}
p.lead {
  font-weight: bold;
  color: #1C956E;
  font-size: 16px;
}

.question-answer-section {
  margin-top: 15px;
  margin-bottom: 15px;
}
.question-answer-section p.lead {
  margin-bottom: 1px;
}
.question-answer-section ul {
  list-style: none;
  padding-left: 2em;
}
.question-answer-section ul li {
  font-size: 11px;
}
.question-answer-section ul li:before {
  content: "-";
  text-indent: -2em;
  display: inline-block;
}
.question-answer-section .question-answer p {
  display: inline-block;
}

table {
  border-collapse: collapse;
  font-size: 11px;
  margin-bottom: 5px;
}
table thead {
  background-color: #1C956E;
  color: #ffffff;
}
table thead.no-background {
  background-color: white;
  color: #1C956E;
}
table thead.lead {
  font-weight: bold;
  color: #1C956E;
  font-size: 16px;
}
table thead th {
  text-align: left;
}
table tbody {
  background-color: #ffffff;
}
table tbody tr {
  vertical-align: top;
}
table tbody tr.border-bottom:first-child {
  border-bottom: 1px solid #1C956E;
}
table tbody tr.border-bottom td {
  border-top: 1px solid #1C956E;
}

#front-page #cooperation-logo {
  text-align: center;
  margin: 7.5rem 0;
}
#front-page #cooperation-logo img {
  width: 250px;
  height: auto;
}

.step-intro {
  margin-bottom: 25px;
}
.step-intro h2 {
  display: block;
  margin: 8px 0 0 60px;
}
.step-intro img {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
}
.step-intro p {
  padding-top: 25px;
}

.measures {
  margin-bottom: -20px;
}
.measures p {
  display: inline-block;
}

footer {
  position: fixed;
}
