.text-uppercase {
  text-transform: uppercase; }

.turquoise {
  color: #29A082; }

.bg-white {
  background-color: white; }

.container {
  max-width: 960px;
  padding-right: 80px;
  padding-left: 80px; }

.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }

.full-width {
  width: 100%; }

.w-100 {
  width: 100px; }

.w-101 {
  width: 101px; }

.w-102 {
  width: 102px; }

.w-103 {
  width: 103px; }

.w-104 {
  width: 104px; }

.w-105 {
  width: 105px; }

.w-106 {
  width: 106px; }

.w-107 {
  width: 107px; }

.w-108 {
  width: 108px; }

.w-109 {
  width: 109px; }

.w-110 {
  width: 110px; }

.w-111 {
  width: 111px; }

.w-112 {
  width: 112px; }

.w-113 {
  width: 113px; }

.w-114 {
  width: 114px; }

.w-115 {
  width: 115px; }

.w-116 {
  width: 116px; }

.w-117 {
  width: 117px; }

.w-118 {
  width: 118px; }

.w-119 {
  width: 119px; }

.w-120 {
  width: 120px; }

.w-121 {
  width: 121px; }

.w-122 {
  width: 122px; }

.w-123 {
  width: 123px; }

.w-124 {
  width: 124px; }

.w-125 {
  width: 125px; }

.w-126 {
  width: 126px; }

.w-127 {
  width: 127px; }

.w-128 {
  width: 128px; }

.w-129 {
  width: 129px; }

.w-130 {
  width: 130px; }

.w-131 {
  width: 131px; }

.w-132 {
  width: 132px; }

.w-133 {
  width: 133px; }

.w-134 {
  width: 134px; }

.w-135 {
  width: 135px; }

.w-136 {
  width: 136px; }

.w-137 {
  width: 137px; }

.w-138 {
  width: 138px; }

.w-139 {
  width: 139px; }

.w-140 {
  width: 140px; }

.w-141 {
  width: 141px; }

.w-142 {
  width: 142px; }

.w-143 {
  width: 143px; }

.w-144 {
  width: 144px; }

.w-145 {
  width: 145px; }

.w-146 {
  width: 146px; }

.w-147 {
  width: 147px; }

.w-148 {
  width: 148px; }

.w-149 {
  width: 149px; }

.w-150 {
  width: 150px; }

.w-151 {
  width: 151px; }

.w-152 {
  width: 152px; }

.w-153 {
  width: 153px; }

.w-154 {
  width: 154px; }

.w-155 {
  width: 155px; }

.w-156 {
  width: 156px; }

.w-157 {
  width: 157px; }

.w-158 {
  width: 158px; }

.w-159 {
  width: 159px; }

.w-160 {
  width: 160px; }

.w-161 {
  width: 161px; }

.w-162 {
  width: 162px; }

.w-163 {
  width: 163px; }

.w-164 {
  width: 164px; }

.w-165 {
  width: 165px; }

.w-166 {
  width: 166px; }

.w-167 {
  width: 167px; }

.w-168 {
  width: 168px; }

.w-169 {
  width: 169px; }

.w-170 {
  width: 170px; }

.w-171 {
  width: 171px; }

.w-172 {
  width: 172px; }

.w-173 {
  width: 173px; }

.w-174 {
  width: 174px; }

.w-175 {
  width: 175px; }

.w-176 {
  width: 176px; }

.w-177 {
  width: 177px; }

.w-178 {
  width: 178px; }

.w-179 {
  width: 179px; }

.w-180 {
  width: 180px; }

.w-181 {
  width: 181px; }

.w-182 {
  width: 182px; }

.w-183 {
  width: 183px; }

.w-184 {
  width: 184px; }

.w-185 {
  width: 185px; }

.w-186 {
  width: 186px; }

.w-187 {
  width: 187px; }

.w-188 {
  width: 188px; }

.w-189 {
  width: 189px; }

.w-190 {
  width: 190px; }

.w-191 {
  width: 191px; }

.w-192 {
  width: 192px; }

.w-193 {
  width: 193px; }

.w-194 {
  width: 194px; }

.w-195 {
  width: 195px; }

.w-196 {
  width: 196px; }

.w-197 {
  width: 197px; }

.w-198 {
  width: 198px; }

.w-199 {
  width: 199px; }

.w-200 {
  width: 200px; }

.w-201 {
  width: 201px; }

.w-202 {
  width: 202px; }

.w-203 {
  width: 203px; }

.w-204 {
  width: 204px; }

.w-205 {
  width: 205px; }

.w-206 {
  width: 206px; }

.w-207 {
  width: 207px; }

.w-208 {
  width: 208px; }

.w-209 {
  width: 209px; }

.w-210 {
  width: 210px; }

.w-211 {
  width: 211px; }

.w-212 {
  width: 212px; }

.w-213 {
  width: 213px; }

.w-214 {
  width: 214px; }

.w-215 {
  width: 215px; }

.w-216 {
  width: 216px; }

.w-217 {
  width: 217px; }

.w-218 {
  width: 218px; }

.w-219 {
  width: 219px; }

.w-220 {
  width: 220px; }

.w-221 {
  width: 221px; }

.w-222 {
  width: 222px; }

.w-223 {
  width: 223px; }

.w-224 {
  width: 224px; }

.w-225 {
  width: 225px; }

.w-226 {
  width: 226px; }

.w-227 {
  width: 227px; }

.w-228 {
  width: 228px; }

.w-229 {
  width: 229px; }

.w-230 {
  width: 230px; }

.w-231 {
  width: 231px; }

.w-232 {
  width: 232px; }

.w-233 {
  width: 233px; }

.w-234 {
  width: 234px; }

.w-235 {
  width: 235px; }

.w-236 {
  width: 236px; }

.w-237 {
  width: 237px; }

.w-238 {
  width: 238px; }

.w-239 {
  width: 239px; }

.w-240 {
  width: 240px; }

.w-241 {
  width: 241px; }

.w-242 {
  width: 242px; }

.w-243 {
  width: 243px; }

.w-244 {
  width: 244px; }

.w-245 {
  width: 245px; }

.w-246 {
  width: 246px; }

.w-247 {
  width: 247px; }

.w-248 {
  width: 248px; }

.w-249 {
  width: 249px; }

.w-250 {
  width: 250px; }

.w-251 {
  width: 251px; }

.w-252 {
  width: 252px; }

.w-253 {
  width: 253px; }

.w-254 {
  width: 254px; }

.w-255 {
  width: 255px; }

.w-256 {
  width: 256px; }

.w-257 {
  width: 257px; }

.w-258 {
  width: 258px; }

.w-259 {
  width: 259px; }

.w-260 {
  width: 260px; }

.w-261 {
  width: 261px; }

.w-262 {
  width: 262px; }

.w-263 {
  width: 263px; }

.w-264 {
  width: 264px; }

.w-265 {
  width: 265px; }

.w-266 {
  width: 266px; }

.w-267 {
  width: 267px; }

.w-268 {
  width: 268px; }

.w-269 {
  width: 269px; }

.w-270 {
  width: 270px; }

.w-271 {
  width: 271px; }

.w-272 {
  width: 272px; }

.w-273 {
  width: 273px; }

.w-274 {
  width: 274px; }

.w-275 {
  width: 275px; }

.w-276 {
  width: 276px; }

.w-277 {
  width: 277px; }

.w-278 {
  width: 278px; }

.w-279 {
  width: 279px; }

.w-280 {
  width: 280px; }

.w-281 {
  width: 281px; }

.w-282 {
  width: 282px; }

.w-283 {
  width: 283px; }

.w-284 {
  width: 284px; }

.w-285 {
  width: 285px; }

.w-286 {
  width: 286px; }

.w-287 {
  width: 287px; }

.w-288 {
  width: 288px; }

.w-289 {
  width: 289px; }

.w-290 {
  width: 290px; }

.w-291 {
  width: 291px; }

.w-292 {
  width: 292px; }

.w-293 {
  width: 293px; }

.w-294 {
  width: 294px; }

.w-295 {
  width: 295px; }

.w-296 {
  width: 296px; }

.w-297 {
  width: 297px; }

.w-298 {
  width: 298px; }

.w-299 {
  width: 299px; }

.w-300 {
  width: 300px; }

.w-301 {
  width: 301px; }

.w-302 {
  width: 302px; }

.w-303 {
  width: 303px; }

.w-304 {
  width: 304px; }

.w-305 {
  width: 305px; }

.w-306 {
  width: 306px; }

.w-307 {
  width: 307px; }

.w-308 {
  width: 308px; }

.w-309 {
  width: 309px; }

.w-310 {
  width: 310px; }

.w-311 {
  width: 311px; }

.w-312 {
  width: 312px; }

.w-313 {
  width: 313px; }

.w-314 {
  width: 314px; }

.w-315 {
  width: 315px; }

.w-316 {
  width: 316px; }

.w-317 {
  width: 317px; }

.w-318 {
  width: 318px; }

.w-319 {
  width: 319px; }

.w-320 {
  width: 320px; }

.w-321 {
  width: 321px; }

.w-322 {
  width: 322px; }

.w-323 {
  width: 323px; }

.w-324 {
  width: 324px; }

.w-325 {
  width: 325px; }

.w-326 {
  width: 326px; }

.w-327 {
  width: 327px; }

.w-328 {
  width: 328px; }

.w-329 {
  width: 329px; }

.w-330 {
  width: 330px; }

.w-331 {
  width: 331px; }

.w-332 {
  width: 332px; }

.w-333 {
  width: 333px; }

.w-334 {
  width: 334px; }

.w-335 {
  width: 335px; }

.w-336 {
  width: 336px; }

.w-337 {
  width: 337px; }

.w-338 {
  width: 338px; }

.w-339 {
  width: 339px; }

.w-340 {
  width: 340px; }

.w-341 {
  width: 341px; }

.w-342 {
  width: 342px; }

.w-343 {
  width: 343px; }

.w-344 {
  width: 344px; }

.w-345 {
  width: 345px; }

.w-346 {
  width: 346px; }

.w-347 {
  width: 347px; }

.w-348 {
  width: 348px; }

.w-349 {
  width: 349px; }

.w-350 {
  width: 350px; }

.w-351 {
  width: 351px; }

.w-352 {
  width: 352px; }

.w-353 {
  width: 353px; }

.w-354 {
  width: 354px; }

.w-355 {
  width: 355px; }

.w-356 {
  width: 356px; }

.w-357 {
  width: 357px; }

.w-358 {
  width: 358px; }

.w-359 {
  width: 359px; }

.w-360 {
  width: 360px; }

.w-361 {
  width: 361px; }

.w-362 {
  width: 362px; }

.w-363 {
  width: 363px; }

.w-364 {
  width: 364px; }

.w-365 {
  width: 365px; }

.w-366 {
  width: 366px; }

.w-367 {
  width: 367px; }

.w-368 {
  width: 368px; }

.w-369 {
  width: 369px; }

.w-370 {
  width: 370px; }

.w-371 {
  width: 371px; }

.w-372 {
  width: 372px; }

.w-373 {
  width: 373px; }

.w-374 {
  width: 374px; }

.w-375 {
  width: 375px; }

.w-376 {
  width: 376px; }

.w-377 {
  width: 377px; }

.w-378 {
  width: 378px; }

.w-379 {
  width: 379px; }

.w-380 {
  width: 380px; }

.w-381 {
  width: 381px; }

.w-382 {
  width: 382px; }

.w-383 {
  width: 383px; }

.w-384 {
  width: 384px; }

.w-385 {
  width: 385px; }

.w-386 {
  width: 386px; }

.w-387 {
  width: 387px; }

.w-388 {
  width: 388px; }

.w-389 {
  width: 389px; }

.w-390 {
  width: 390px; }

.w-391 {
  width: 391px; }

.w-392 {
  width: 392px; }

.w-393 {
  width: 393px; }

.w-394 {
  width: 394px; }

.w-395 {
  width: 395px; }

.w-396 {
  width: 396px; }

.w-397 {
  width: 397px; }

.w-398 {
  width: 398px; }

.w-399 {
  width: 399px; }

.w-400 {
  width: 400px; }

.w-401 {
  width: 401px; }

.w-402 {
  width: 402px; }

.w-403 {
  width: 403px; }

.w-404 {
  width: 404px; }

.w-405 {
  width: 405px; }

.w-406 {
  width: 406px; }

.w-407 {
  width: 407px; }

.w-408 {
  width: 408px; }

.w-409 {
  width: 409px; }

.w-410 {
  width: 410px; }

.w-411 {
  width: 411px; }

.w-412 {
  width: 412px; }

.w-413 {
  width: 413px; }

.w-414 {
  width: 414px; }

.w-415 {
  width: 415px; }

.w-416 {
  width: 416px; }

.w-417 {
  width: 417px; }

.w-418 {
  width: 418px; }

.w-419 {
  width: 419px; }

.w-420 {
  width: 420px; }

.w-421 {
  width: 421px; }

.w-422 {
  width: 422px; }

.w-423 {
  width: 423px; }

.w-424 {
  width: 424px; }

.w-425 {
  width: 425px; }

.w-426 {
  width: 426px; }

.w-427 {
  width: 427px; }

.w-428 {
  width: 428px; }

.w-429 {
  width: 429px; }

.w-430 {
  width: 430px; }

.w-431 {
  width: 431px; }

.w-432 {
  width: 432px; }

.w-433 {
  width: 433px; }

.w-434 {
  width: 434px; }

.w-435 {
  width: 435px; }

.w-436 {
  width: 436px; }

.w-437 {
  width: 437px; }

.w-438 {
  width: 438px; }

.w-439 {
  width: 439px; }

.w-440 {
  width: 440px; }

.w-441 {
  width: 441px; }

.w-442 {
  width: 442px; }

.w-443 {
  width: 443px; }

.w-444 {
  width: 444px; }

.w-445 {
  width: 445px; }

.w-446 {
  width: 446px; }

.w-447 {
  width: 447px; }

.w-448 {
  width: 448px; }

.w-449 {
  width: 449px; }

.w-450 {
  width: 450px; }

.w-451 {
  width: 451px; }

.w-452 {
  width: 452px; }

.w-453 {
  width: 453px; }

.w-454 {
  width: 454px; }

.w-455 {
  width: 455px; }

.w-456 {
  width: 456px; }

.w-457 {
  width: 457px; }

.w-458 {
  width: 458px; }

.w-459 {
  width: 459px; }

.w-460 {
  width: 460px; }

.w-461 {
  width: 461px; }

.w-462 {
  width: 462px; }

.w-463 {
  width: 463px; }

.w-464 {
  width: 464px; }

.w-465 {
  width: 465px; }

.w-466 {
  width: 466px; }

.w-467 {
  width: 467px; }

.w-468 {
  width: 468px; }

.w-469 {
  width: 469px; }

.w-470 {
  width: 470px; }

.w-471 {
  width: 471px; }

.w-472 {
  width: 472px; }

.w-473 {
  width: 473px; }

.w-474 {
  width: 474px; }

.w-475 {
  width: 475px; }

.w-476 {
  width: 476px; }

.w-477 {
  width: 477px; }

.w-478 {
  width: 478px; }

.w-479 {
  width: 479px; }

.w-480 {
  width: 480px; }

.w-481 {
  width: 481px; }

.w-482 {
  width: 482px; }

.w-483 {
  width: 483px; }

.w-484 {
  width: 484px; }

.w-485 {
  width: 485px; }

.w-486 {
  width: 486px; }

.w-487 {
  width: 487px; }

.w-488 {
  width: 488px; }

.w-489 {
  width: 489px; }

.w-490 {
  width: 490px; }

.w-491 {
  width: 491px; }

.w-492 {
  width: 492px; }

.w-493 {
  width: 493px; }

.w-494 {
  width: 494px; }

.w-495 {
  width: 495px; }

.w-496 {
  width: 496px; }

.w-497 {
  width: 497px; }

.w-498 {
  width: 498px; }

.w-499 {
  width: 499px; }

.w-500 {
  width: 500px; }

* {
  margin: 0; }

h1, h2, h4, p, table {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; }

h1 {
  font-size: 26px;
  font-weight: bold;
  color: #29A082; }

h2 {
  font-size: 21.33px;
  font-weight: bold;
  color: #29A082; }

body.new-page {
  padding-top: 100px; }

p {
  color: #000000;
  font-size: 13.33px;
  line-height: 1.15; }
  p.lead {
    font-weight: bold;
    color: #29A082; }

.question-answer-section {
  margin-top: 15px;
  margin-bottom: 15px; }
  .question-answer-section p.lead {
    margin-bottom: 1px; }
  .question-answer-section .question-answer p {
    display: inline-block; }

table {
  border-collapse: collapse;
  font-size: 13.33px;
  margin-bottom: 5px; }
  table thead {
    background-color: #29A082;
    color: #ffffff; }
  table tbody {
    background-color: #ffffff; }
    table tbody td {
      border-top: 1px solid #29A082; }
    table tbody tr:first-child {
      border-bottom: 1px solid #29A082; }

#front-page #img-front-page {
  position: fixed;
  left: 0pt;
  top: -25.515pt;
  right: 0px;
  bottom: 0px;
  text-align: center;
  z-index: -1000; }
  #front-page #img-front-page img {
    width: 595.28pt; }
#front-page #user-info {
  height: 150px;
  padding-top: 5%; }
#front-page #intro {
  padding: 5rem; }

.step-intro {
  overflow: hidden; }
  .step-intro h2 {
    display: block;
    margin: 13px 0 0 0; }
  .step-intro img {
    width: 50px;
    height: 50px;
    display: block;
    float: left; }

.measures p {
  display: inline-block; }

/*# sourceMappingURL=pdf.css.map */
