#front-page {
    #cooperation-logo {
        text-align: center;
        margin: 7.5rem 0;

        img {
            width: 250px;
            height: auto;
        }
    }
}


.step-intro {
    h2 {
        display: block;
        margin: 8px 0 0 60px;
    }

    img {
        width: 50px;
        height: 50px;
        display: block;
        float: left;
    }

    p {
        padding-top: 25px;
    }

    margin-bottom: 25px;
}

.measures {
    margin-bottom: -20px;

    p {
        display: inline-block;
    }
}

footer {
    position: fixed;
}