* {
  margin: 0;
}

h1, h2, h4, p, table {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  color: $color-main;
}

h2 {
  font-size: 21.33px;
  font-weight: bold;
  color: $color-main;
}

body {
  &.new-page {
    padding-top: 50px;
  }
}

p {
  color: #000000;
  font-size: $font-size-small;
  line-height: 1.15pt;

  &.lead {
    font-weight: bold;
    color: $color-main;
  }
}
.question-answer-section {
  margin-top: 15px;
  margin-bottom: 15px;
  p.lead {
    margin-bottom: 1px;
  }
  .question-answer {
    p {
      display: inline-block;
    }
  }
}

table {
  border-collapse: collapse;
  font-size: $font-size-small;
  margin-bottom: 5px;
  thead {
    background-color: $color-main;
    color: $color-white;
  }
  tbody {
    background-color: $color-white;
    td {
      border-top: 1px solid $color-main;
    }
    tr:first-child {
      border-bottom: 1px solid $color-main;
    }
  }
}