* {
  margin: 0;
}

h1 {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: $color-main;
}

h2 {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 21.33px;
  font-weight: bold;
  color: $color-main;
}

h4 {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 10px;
  color: $color-main;
}

body {
  &.new-page {
    padding-top: 100px;
  }
}

p {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #000000;
  font-size: 13.33px;
  line-height: 1.15;

  &.lead {
    font-weight: bold;
    color: $color-main;
  }
}