.page-my-plan {

  h3 {
    display: inline;
  }

  ul#years {

    list-style: none;
    padding-left: 0;

  }

  table {
    tbody {
      tr {
        &.collapse {
          td {
            border-top: 1px solid transparent !important;
          }
        }
        &.collapsing {
          td {
            border-top: 1px solid transparent !important;
          }
        }
      }
    }
  }
}