ul.progress-list {

  $borderWidth: 5px;
  $imageSize: 50px;

  li {
    .glyphicon {
      top: 25px;
      left: -25px;
      font-size: 25px;
    }

    &.done {
      .glyphicon {
        color: $brand-secundairy;
      }
    }
    &.not-available {
      .glyphicon {
        color: $brand-warning;
      }
    }

    a {
      img {
        width: $imageSize;
        height: $imageSize;
        border: 1px solid #939596;
        //border: $borderWidth solid transparent;
      }

      &:hover, &:active, &:focus {
        img {
          border: $borderWidth solid $brand-secundairy !important;
        }
      }
    }

    &.active {
      a {
        img {
          border: $borderWidth solid $brand-tertiary;
        }
      }
    }
  }
}