ul.progress-list {

  $borderWidth: 5px;
  $imageSize: 50px;

  li {
    width: 70px;
    .glyphicon {
      top: 25px;
      //left: -25px;
      margin-left: -25px;
      font-size: 25px;
    }

    &.done {
      .glyphicon {
        color: $brand-secundairy;
      }
    }
    &.not-available {
      .glyphicon {
        color: $brand-danger;
      }
    }

    a {
      // trans border so we dont have a jumpy layout
      border: 5px solid transparent;
      border-radius: 100%;
      display: inline-block;

      img {
        width: $imageSize;
        height: $imageSize;
        border: 1px solid #939596;
        &.no-border {
          border: none;
        }
      }


      &:hover, &:active, &:focus {
        text-decoration: none;
        border: $borderWidth solid $brand-secundairy;
        &.no-border {
          border: none;
        }
      }
    }

    &.active {
      a {
        border: $borderWidth solid $brand-tertiary;
      }
    }
  }
}