
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "bootstrap_overrides";

@import "mixins/spinner";

@import "classes";

@import "misc";

@import "views/cooperation/auth/register";

@import "views/cooperation/help/index";
@import "views/cooperation/home/index";

@import "views/cooperation/measures/index";

@import "views/cooperation/tool/wall-insulation/index";

@import "views/cooperation/tool/progress";
@import "views/cooperation/tool/defaults";

@import "views/cooperation/my-account/messages";

@import "views/cooperation/conversation-requests/index";

@import "views/cooperation/admin/choose_roles";
@import "views/cooperation/admin/coach/buildings";
@import "views/cooperation/admin/cooperation/coordinator/questionnaire";

@import "select2";


.navbar-default .navbar-nav > li > a {
  color: #2d2c2c;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
}

.navbar-default .navbar-brand {
  color: #2d2c2c;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
}

// Icons from frontend
@import '../../css/shared/components/icons.css';

// Temporary override until we move to Tailwind...
.icon-xs {
  height: 0.5rem;
  width: 0.5rem;
}
.icon-sm {
  height: 1rem;
  width: 1rem;
}
.icon-md {
  height: 1.5rem;
  width: 1.5rem;
}
.icon-lg {
  height: 3rem;
  width: 3rem;
}
.icon-xl {
  height: 6rem;
  width: 6rem;
}
.icon-xxl {
  height: 8rem;
  width: 8rem;
}
.icon-xxxl {
  height: 9rem;
  width: 9rem;
}