.container {
    max-width: 960px;
    padding: 5rem 80px;

    .group {
        padding: 0.5rem 0;
    }

    .row {
        display: block;
        width: 100%;

        @for $i from 1 through 12 {
            .col-#{$i} {
                display: inline-block;
                width: unquote("#{calc(floor(calc(100 / (12 / $i))) - 1)}%");
            }
        }
    }

    table {
        page-break-inside: auto;
        width: 100%;
    }
}