.container {
    width: 100%;

    .icon-container {
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .group {
        padding: 0.5rem 0;
    }

    .row {
        // mPDF does not support display: inline-block; however using float we can fake it
        float: left;
        width: 100%;

        @for $i from 1 through 12 {
            .col-#{$i} {
                float: left;
                width: unquote("#{calc(floor(calc(100 / (12 / $i))) - 1)}%");
            }
        }
    }

    table {
        page-break-inside: auto;
        width: 100%;
    }
}