* {
    margin: 0;
    font-family: Helvetice, sans-serif;
}

h1 {
    font-size: $font-size-title;
    font-weight: bold;
    color: $color-main;
    line-height: $universal-line-height;
    margin-bottom: 4rem;
}

h2 {
    font-size: $font-size-sub-heading-1;
    font-weight: bold;
    color: $color-main;
    line-height: $universal-line-height;
    margin-bottom: 0.25rem;
}

h3 {
    font-size: $font-size-sub-heading-2;
    font-weight: bold;
    color: $color-main;
    line-height: $universal-line-height;
    margin-bottom: 0.25rem;
}

h4 {
    font-size: $font-size-sub-heading-3;
    font-weight: bold;
    color: $color-main;
    line-height: $universal-line-height;
    margin-bottom: 0.25rem;
}

p {
    color: $color-black;
    font-size: $font-size-normal;
    line-height: $universal-line-height;
    margin: 0;
    padding: 0;
}

small {
    color: $color-black;
    font-size: $font-size-small;
    line-height: $universal-line-height;
    margin: 0;
    padding: 0;
}

.comment {
    word-wrap: break-word !important;
    white-space: pre-line;
}