h1 {
    font-family: Helvetice, sans-serif;
    font-size: $font-size-title;
    font-weight: bold;
    color: $color-main;
    line-height: $universal-line-height;
    margin: 0 0 4rem;
    padding: 0;
}

h2 {
    font-family: Helvetice, sans-serif;
    font-size: $font-size-sub-heading-1;
    font-weight: bold;
    color: $color-main;
    line-height: $universal-line-height;
    margin: 0 0 0.25rem;
    padding: 0;
}

h3 {
    font-family: Helvetice, sans-serif;
    font-size: $font-size-sub-heading-2;
    font-weight: bold;
    color: $color-main;
    line-height: $universal-line-height;
    margin: 0 0 0.25rem;
    padding: 0;
}

h4 {
    font-family: Helvetice, sans-serif;
    font-size: $font-size-sub-heading-3;
    font-weight: bold;
    color: $color-main;
    line-height: $universal-line-height;
    margin: 0 0 0.25rem;
    padding: 0;
}

h5 {
    font-family: Helvetice, sans-serif;
    font-size: $font-size-sub-heading-3;
    font-weight: bold;
    color: $color-main;
    line-height: $universal-line-height;
    margin: 0.25rem 0 0;
    padding: 0;
}

.as-text,
p {
    font-family: Helvetice, sans-serif;
    color: $color-black;
    font-size: $font-size-normal;
    line-height: $universal-line-height;
    margin: 0;
    padding: 0;
}

small {
    font-family: Helvetice, sans-serif;
    color: $color-black;
    font-size: $font-size-small;
    line-height: $universal-line-height;
    margin: 0;
    padding: 0;
}

.comment {
    word-wrap: break-word !important;
    white-space: pre-line;
}

// Imitate Tailwind
.text-blue-900 {
    color: #1122C8;
}

.text-green {
    color: #2CA982;
}

.text-orange {
    color: #FF7F4A;
}

.text-red {
    color: #E41440;
}