.text-uppercase {
  text-transform: uppercase;
}

.page-break {
  page-break-before: always;
}

.turquoise {
  color: $color-main
}

.bg-white {
  background-color: white;
}

.container {
  max-width: 960px;
  padding-right: 80px;
  padding-left:  80px;
}

.full-width {
  width: 100%;
}

@for $i from 100 through 500 {
  .w-#{$i} {
    width: unquote("#{$i}px")
  }
}

@for $i from 0 through 100 {
  .h-#{$i} {
    height: unquote("#{$i}px")
  }
}