.w-full {
    width: 100%;
}

.text {
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

@for $i from 0 through 12 {
    .p-#{$i} {
        padding: unquote("#{calc(0.25 * $i)}rem");
    }
    .pt-#{$i} {
        padding-top: unquote("#{calc(0.25 * $i)}rem");
    }
    .pb-#{$i} {
        padding-bottom: unquote("#{calc(0.25 * $i)}rem");
    }
    .py-#{$i} {
        padding-top: unquote("#{calc(0.25 * $i)}rem");
        padding-bottom: unquote("#{calc(0.25 * $i)}rem");
    }
    .pr-#{$i} {
        padding-right: unquote("#{calc(0.25 * $i)}rem");
    }
    .pl-#{$i} {
        padding-left: unquote("#{calc(0.25 * $i)}rem");
    }
    .px-#{$i} {
        padding-right: unquote("#{calc(0.25 * $i)}rem");
        padding-left: unquote("#{calc(0.25 * $i)}rem");
    }
    
    .m-#{$i} {
        margin: unquote("#{calc(0.25 * $i)}rem");
    }
    .mt-#{$i} {
        margin-top: unquote("#{calc(0.25 * $i)}rem");
    }
    .mb-#{$i} {
        margin-bottom: unquote("#{calc(0.25 * $i)}rem");
    }
    .my-#{$i} {
        margin-top: unquote("#{calc(0.25 * $i)}rem");
        margin-bottom: unquote("#{calc(0.25 * $i)}rem");
    }
    .mr-#{$i} {
        margin-right: unquote("#{calc(0.25 * $i)}rem");
    }
    .ml-#{$i} {
        margin-left: unquote("#{calc(0.25 * $i)}rem");
    }
    .mx-#{$i} {
        margin-right: unquote("#{calc(0.25 * $i)}rem");
        margin-left: unquote("#{calc(0.25 * $i)}rem");
    }
}