$color-main-old: #29A082;
$color-main-old-2: #1C956E;
$color-main: #18825F;
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #1122C8;
$color-green: #2CA982;
$color-orange: #FF7F4A;
$color-red: #E41440;
$color-purple: #622191;

$font-size-title: 26px;
$font-size-sub-heading-1: 20px;
$font-size-sub-heading-2: 16px;
$font-size-sub-heading-3: 11px;
$font-size-normal: 11px;
$font-size-small: 8px;

$universal-line-height: 1.15;
