$color-main-old: #29A082;
$color-main: #1C956E;
$color-white: #ffffff;
$color-black: #000000;

$font-size-title: 26px;
$font-size-sub-heading-1: 20px;
$font-size-sub-heading-2: 16px;
$font-size-sub-heading-3: 11px;
$font-size-small: 11px;
$font-size-footer: 8px;

$universal-line-height: 1.15;
