/* Icons */
.icon-xs {
    @apply w-2 h-2;
}
.icon-sm {
    @apply w-4 h-4;
}
.icon-md {
    @apply w-6 h-6;
}
.icon-lg {
    @apply w-12 h-12;
}
.icon-xl {
    @apply w-24 h-24;
}
.icon-xxl {
    @apply w-32 h-32;
}
.icon-xxxl {
    @apply w-36 h-36;
}
.icon-placeholder {
    @apply select-none;
    content: url('/icons/placeholder.svg');
}
.icon-account-circle {
    @apply select-none;
    content: url('/icons/account-circle.svg');
}
.icon-air-conditioning {
    @apply select-none;
    content: url('/icons/air-conditioning.svg');
}
.icon-air-conditioning-hot {
    @apply select-none;
    content: url('/icons/air-conditioning-hot.svg');
}
.icon-apartment-ground-floor-between {
    @apply select-none;
    content: url('/icons/apartment-ground-floor-between.svg');
}
.icon-apartment-ground-floor-corner {
    @apply select-none;
    content: url('/icons/apartment-ground-floor-corner.svg');
}
.icon-apartment-mid-floor-between {
    @apply select-none;
    content: url('/icons/apartment-mid-floor-between.svg');
}
.icon-apartment-mid-floor-corner {
    @apply select-none;
    content: url('/icons/apartment-mid-floor-corner.svg');
}
.icon-apartment-upper-floor-between {
    @apply select-none;
    content: url('/icons/apartment-upper-floor-between.svg');
}
.icon-apartment-upper-floor-corner {
    @apply select-none;
    content: url('/icons/apartment-upper-floor-corner.svg');
}
.icon-arrow-down {
    @apply select-none;
    content: url('/icons/arrow-down.svg');
}
.icon-arrow-left {
    @apply select-none;
    content: url('/icons/arrow-left.svg');
}
.icon-arrow-left-bold {
    @apply select-none;
    content: url('/icons/arrow-left-bold.svg');
}
.icon-arrow-left-bold-purple {
    @apply select-none;
    content: url('/icons/arrow-left-bold-purple.svg');
}
.icon-arrow-left-circle {
    @apply select-none;
    content: url('/icons/arrow-left-circle.svg');
}
.icon-arrow-right {
    @apply select-none;
    content: url('/icons/arrow-right.svg');
}
.icon-arrow-right-bold {
    @apply select-none;
    content: url('/icons/arrow-right-bold.svg');
}
.icon-arrow-right-bold-purple {
    @apply select-none;
    content: url('/icons/arrow-right-bold-purple.svg');
}
.icon-arrow-right-circle {
    @apply select-none;
    content: url('/icons/arrow-right-circle.svg');
}
.icon-arrow-up {
    @apply select-none;
    content: url('/icons/arrow-up.svg');
}
.icon-arrow-left-right {
    @apply select-none;
    content: url('/icons/arrow-left-right.svg');
}
.icon-arrow-left-right-white {
    @apply select-none;
    content: url('/icons/arrow-left-right-white.svg');
}
.icon-attic-room {
    @apply select-none;
    content: url('/icons/attic-room.svg');
}
.icon-bathroom {
    @apply select-none;
    content: url('/icons/bathroom.svg');
}
.icon-building-heat {
    @apply select-none;
    content: url('/icons/building-heat.svg');
}
.icon-central-heater {
    @apply select-none;
    content: url('/icons/central-heater.svg');
}
.icon-central-heater-electric {
    @apply select-none;
    content: url('/icons/central-heater-electric.svg');
}
.icon-calendar {
    @apply select-none;
    content: url('/icons/calendar.svg');
}
.icon-central-heater-gas {
    @apply select-none;
    content: url('/icons/central-heater-gas.svg');
}
.icon-chat {
    @apply select-none;
    content: url('/icons/chat.svg');
}
.icon-chat-alert {
    @apply select-none;
    content: url('/icons/chat-alert.svg');
}
.icon-check-circle {
    @apply select-none;
    content: url('/icons/check-circle.svg');
}
.icon-check-circle-green {
    @apply select-none;
    content: url('/icons/check-circle-green.svg');
}
.icon-check-circle-dark {
    @apply select-none;
    content: url('/icons/check-circle-dark.svg');
}
.icon-check-circle-purple {
    @apply select-none;
    content: url('/icons/check-circle-purple.svg');
}
.icon-district-heating {
    @apply select-none;
    content: url('/icons/district-heating.svg');
}
.icon-document {
    @apply select-none;
    content: url('/icons/document.svg');
}
.icon-document-white {
    @apply select-none;
    content: url('/icons/document-white.svg');
}
.icon-close-circle {
    @apply select-none;
    content: url('/icons/close-circle.svg');
}
.icon-close-circle-light {
    @apply select-none;
    content: url('/icons/close-circle-light.svg');
}
.icon-co2 {
    @apply select-none;
    content: url('/icons/co2.svg');
}
.icon-cracks-seams {
    @apply select-none;
    content: url('/icons/cracks-seams.svg');
}
.icon-curtains {
    @apply select-none;
    content: url('/icons/curtains.svg');
}
.icon-detached-house {
    @apply select-none;
    content: url('/icons/detached-house.svg');
}
.icon-dishwasher {
    @apply select-none;
    content: url('/icons/dishwasher.svg');
}
.icon-dormer {
    @apply select-none;
    content: url('/icons/dormer.svg');
}
.icon-dot-blue {
    @apply select-none;
    content: url('/icons/dot-blue.svg');
}
.icon-dot-green {
    @apply select-none;
    content: url('/icons/dot-green.svg');
}
.icon-dot-yellow {
    @apply select-none;
    content: url('/icons/dot-yellow.svg');
}
.icon-dryer {
    @apply select-none;
    content: url('/icons/dryer.svg');
}
.icon-electric {
    @apply select-none;
    content: url('/icons/electric.svg');
}
.icon-end-of-terrace-house {
    @apply select-none;
    content: url('/icons/end-of-terrace-house.svg');
}
.icon-error-cross {
    @apply select-none;
    content: url('/icons/error-cross.svg');
}
.icon-euro {
    @apply select-none;
    content: url('/icons/euro.svg');
}
.icon-flat-pitched-roof {
    @apply select-none;
    content: url('/icons/flat-pitched-roof.svg');
}
.icon-flat-roof {
    @apply select-none;
    content: url('/icons/flat-roof.svg');
}
.icon-floor-insulation-excellent {
    @apply select-none;
    content: url('/icons/floor-insulation-excellent.svg');
}
.icon-floor-insulation-good {
    @apply select-none;
    content: url('/icons/floor-insulation-good.svg');
}
.icon-floor-insulation-moderate {
    @apply select-none;
    content: url('/icons/floor-insulation-moderate.svg');
}
.icon-floor-insulation-none {
    @apply select-none;
    content: url('/icons/floor-insulation-none.svg');
}
.icon-gas {
    @apply select-none;
    content: url('/icons/gas.svg');
}
.icon-glass-double {
    @apply select-none;
    content: url('/icons/glass-double.svg');
}
.icon-glass-hr-tp {
    @apply select-none;
    content: url('/icons/glass-hr-tp.svg');
}
.icon-glass-hr-dp {
    @apply select-none;
    content: url('/icons/glass-hr-dp.svg');
}
.icon-glass-hr-p {
    @apply select-none;
    content: url('/icons/glass-hr-p.svg');
}
.icon-glass-hr {
    @apply select-none;
    content: url('/icons/glass-hr.svg');
}
.icon-glass-single {
    @apply select-none;
    content: url('/icons/glass-single.svg');
}
.icon-heat-pump {
    @apply select-none;
    content: url('/icons/heat-pump.svg');
}
.icon-heat-pump-hybrid {
    @apply select-none;
    content: url('/icons/heat-pump-hybrid.svg');
}
.icon-heat-pump-none {
    @apply select-none;
    content: url('/icons/heat-pump-none.svg');
}
.icon-hide {
    @apply select-none;
    content: url('/icons/hide.svg');
}
.icon-hoom-logo {
    @apply select-none;
    content: url('/icons/hoom-logo.svg');
}
.icon-hoomdossier {
    @apply select-none;
    content: url('/icons/hoomdossier.svg');
}
.icon-hoomdossier-white {
    @apply select-none;
    content: url('/icons/hoomdossier-white.svg');
}
.icon-house {
    @apply select-none;
    content: url('/icons/house.svg');
}
.icon-house-dark {
    @apply select-none;
    content: url('/icons/house-dark.svg');
}
.icon-house-light {
    @apply select-none;
    content: url('/icons/house-light.svg');
}
.icon-house-purple {
    @apply select-none;
    content: url('/icons/house-purple.svg');
}
.icon-house-green {
    @apply select-none;
    content: url('/icons/house-green.svg');
}
.icon-house-white {
    @apply select-none;
    content: url('/icons/house-white.svg');
}
.icon-hydronic-balance-temperature {
    @apply select-none;
    content: url('/icons/hydronic-balance-temperature.svg');
}
.icon-illumination {
    @apply select-none;
    content: url('/icons/illumination.svg');
}
.icon-illumination-shine {
    @apply select-none;
    content: url('/icons/illumination-shine.svg');
}
.icon-induction {
    @apply select-none;
    content: url('/icons/induction.svg');
}
.icon-info {
    @apply select-none;
    content: url('/icons/info.svg');
}
.icon-info-light {
    @apply select-none;
    content: url('/icons/info-light.svg');
}
.icon-infrared {
    @apply select-none;
    content: url('/icons/infrared.svg');
}
.icon-infrared-heater {
    @apply select-none;
    content: url('/icons/infrared-heater.svg');
}
.icon-kitchen {
    @apply select-none;
    content: url('/icons/kitchen.svg');
}
.icon-label-a {
    @apply select-none;
    content: url('/icons/label-a.svg');
}
.icon-label-b {
    @apply select-none;
    content: url('/icons/label-b.svg');
}
.icon-label-c {
    @apply select-none;
    content: url('/icons/label-c.svg');
}
.icon-label-d {
    @apply select-none;
    content: url('/icons/label-d.svg');
}
.icon-label-e {
    @apply select-none;
    content: url('/icons/label-e.svg');
}
.icon-label-f {
    @apply select-none;
    content: url('/icons/label-f.svg');
}
.icon-label-g {
    @apply select-none;
    content: url('/icons/label-g.svg');
}
.icon-label-unknown {
    @apply select-none;
    content: url('/icons/label-unknown.svg');
}
.icon-label-none {
    @apply select-none;
    content: url('/icons/label-none.svg');
}
.icon-mail {
    @apply select-none;
    content: url('/icons/mail.svg');
}
.icon-mail-green {
    @apply select-none;
    content: url('/icons/mail-green.svg');
}
.icon-mid-terrace-house {
    @apply select-none;
    content: url('/icons/mid-terrace-house.svg');
}
.icon-moneybag {
    @apply select-none;
    content: url('/icons/moneybag.svg');
}
.icon-moneybag-orange {
    @apply select-none;
    content: url('/icons/moneybag-orange.svg');
}
.icon-other {
    @apply select-none;
    content: url('/icons/other.svg');
}
.icon-not-relevant {
    @apply select-none;
    content: url('/icons/not-relevant.svg');
}
.icon-paint-job {
    @apply select-none;
    content: url('/icons/paint-job.svg');
}
.icon-pencil {
    @apply select-none;
    content: url('/icons/pencil.svg');
}
.icon-persons-more-than-seven {
    @apply select-none;
    content: url('/icons/persons-more-than-seven.svg');
}
.icon-persons-seven {
    @apply select-none;
    content: url('/icons/persons-seven.svg');
}
.icon-persons-six {
    @apply select-none;
    content: url('/icons/persons-six.svg');
}
.icon-persons-five {
    @apply select-none;
    content: url('/icons/persons-five.svg');
}
.icon-persons-four {
    @apply select-none;
    content: url('/icons/persons-four.svg');
}
.icon-persons-three {
    @apply select-none;
    content: url('/icons/persons-three.svg');
}
.icon-persons-two {
    @apply select-none;
    content: url('/icons/persons-two.svg');
}
/* TODO: Deprecate */
.icon-persons-one {
    @apply select-none;
    content: url('/icons/person.svg');
}
.icon-person {
    @apply select-none;
    content: url('/icons/person.svg');
}
.icon-person-white {
    @apply select-none;
    content: url('/icons/person-white.svg');
}
.icon-piggybank {
    @apply select-none;
    content: url('/icons/piggybank.svg');
}
.icon-piggybank-green {
    @apply select-none;
    content: url('/icons/piggybank-green.svg');
}
.icon-pipes {
    @apply select-none;
    content: url('/icons/pipes.svg');
}
.icon-pitched-roof {
    @apply select-none;
    content: url('/icons/pitched-roof.svg');
}
.icon-plug {
    @apply select-none;
    content: url('/icons/plug.svg');
}
.icon-plus-circle {
    @apply select-none;
    content: url('/icons/plus-circle.svg');
}
.icon-plus-purple {
    @apply select-none;
    content: url('/icons/plus-purple.svg');
}
.icon-pointed-roof {
    @apply select-none;
    content: url('/icons/pointed-roof.svg');
}
.icon-floor-heating {
    @apply select-none;
    content: url('/icons/floor-heating.svg');
}
.icon-wall-heating {
    @apply select-none;
    content: url('/icons/wall-heating.svg');
}
.icon-radiator {
    @apply select-none;
    content: url('/icons/radiator.svg');
}
.icon-radiator-foil {
    @apply select-none;
    content: url('/icons/radiator-foil.svg');
}
.icon-radiator-low-temp {
    @apply select-none;
    content: url('/icons/radiator-low-temp.svg');
}
.icon-roof-insulation-excellent {
    @apply select-none;
    content: url('/icons/roof-insulation-excellent.svg');
}
.icon-roof-insulation-good {
    @apply select-none;
    content: url('/icons/roof-insulation-good.svg');
}
.icon-roof-insulation-moderate {
    @apply select-none;
    content: url('/icons/roof-insulation-moderate.svg');
}
.icon-roof-insulation-none {
    @apply select-none;
    content: url('/icons/roof-insulation-none.svg');
}
.icon-rounded-roof {
    @apply select-none;
    content: url('/icons/rounded-roof.svg');
}
.icon-savings {
    @apply select-none;
    content: url('/icons/savings.svg');
}
.icon-show {
    @apply select-none;
    content: url('/icons/show.svg');
}
.icon-shower-head {
    @apply select-none;
    content: url('/icons/shower-head.svg');
}
.icon-solar-panels {
    @apply select-none;
    content: url('/icons/solar-panels.svg');
}
.icon-solar-panels-none {
    @apply select-none;
    content: url('/icons/solar-panels-none.svg');
}
.icon-sun-boiler {
    @apply select-none;
    content: url('/icons/sun-boiler.svg');
}
.icon-sun-boiler-both {
    @apply select-none;
    content: url('/icons/sun-boiler-both.svg');
}
.icon-sun-boiler-heating {
    @apply select-none;
    content: url('/icons/sun-boiler-heating.svg');
}
.icon-sun-boiler-hot-water {
    @apply select-none;
    content: url('/icons/sun-boiler-hot-water.svg');
}
.icon-sun-boiler-none {
    @apply select-none;
    content: url('/icons/sun-boiler-none.svg');
}
.icon-sunroom {
    @apply select-none;
    content: url('/icons/sunroom.svg');
}
.icon-sustainability {
    @apply select-none;
    content: url('/icons/sustainability.svg');
}
.icon-switch {
    @apply select-none;
    content: url('/icons/switch.svg');
}
.icon-thermostat {
    @apply select-none;
    content: url('/icons/thermostat.svg');
}
.icon-temperature {
    @apply select-none;
    content: url('/icons/temperature.svg');
}
.icon-timer {
    @apply select-none;
    content: url('/icons/timer.svg');
}
.icon-tools {
    @apply select-none;
    content: url('/icons/tools.svg');
}
.icon-trash-can {
    @apply select-none;
    content: url('/icons/trash-can.svg');
}
.icon-trash-can-red {
    @apply select-none;
    content: url('/icons/trash-can-red.svg');
}
.icon-two-under-one-roof {
    @apply select-none;
    content: url('/icons/two-under-one-roof.svg');
}
.icon-upstairs-apartment-between {
    @apply select-none;
    content: url('/icons/upstairs-apartment-between.svg');
}
.icon-upstairs-apartment-corner {
    @apply select-none;
    content: url('/icons/upstairs-apartment-corner.svg');
}
.icon-ventilation {
    @apply select-none;
    content: url('/icons/ventilation.svg');
}
.icon-ventilation-fan {
    @apply select-none;
    content: url('/icons/ventilation-fan.svg');
}
.icon-wall-insulation-excellent {
    @apply select-none;
    content: url('/icons/wall-insulation-excellent.svg');
}
.icon-wall-insulation-good {
    @apply select-none;
    content: url('/icons/wall-insulation-good.svg');
}
.icon-wall-insulation-moderate {
    @apply select-none;
    content: url('/icons/wall-insulation-moderate.svg');
}
.icon-wall-insulation-none {
    @apply select-none;
    content: url('/icons/wall-insulation-none.svg');
}
.icon-washing-machine {
    @apply select-none;
    content: url('/icons/washing-machine.svg');
}
.icon-window-frame {
    @apply select-none;
    content: url('/icons/window-frame.svg');
}