.panel {
  .panel-heading {
    &.flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h3 {
      padding: 0px;
    }
    button {
      margin-top: -45px;
    }
  }
}